/.angular/cache
.idea
.vscode
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles/Inspection_Dodo.xml
*.iml
documentation
log
tmp
build
dist
dev
www
coverage
maven/target
maven/*.log
platforms*
plugins*
src/eob-styling/sass/eob-framework/eob-framework.css
src/eob-styling/sass/eob-client/eob-client.css
src/eob-styling/sass/eob-commons/iconclasses.css
src/eob-styling/sass/eob-commons/_sassvg-data.scss
src/eob-client/eob.css
src/languages
src/.lang-export
src/worker-javascript.js
node_modules
npm-debug.log
yarn-error.log
git-version.json
artifacts/bluebird/tests/**/*
**/junit-test-results.xml
**/nunit-test-results.xml
nunit-test-results.xml
proxy.conf.js

# Electron and Service-Bridge
hot
src/electron/dotnet/**/bin/**/*
src/electron/dotnet/**/obj/**/*
src/electron/dotnet/**/*.csproj.user
src/electron/dotnet/.vs
src/electron/dotnet/packages

# microservice
src/microservice/target

# e2e tests
e2e/cypress/reports
e2e/cypress/cypress/videos
/electron/resources/print/sumatrapdfcache/
.vscode/launch.json
debug.log
.history/
